body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
  }
  #container{
    background: #141c3a;
    margin: 0;
    display: block;
    float: left;
    width: 100vw;
    height: 100vh;
  }
  #view-button{

    width: 380px;
    height: 50px;
    font-size: 24px;
    border-color: black;
    display: block;
    background-color: white;
    color:black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Nunito';
  }
  #codey{
    display: none;
    width: 800px;
    margin: 0 auto;
  }
  #close-button{
    width: 380px;
    height: 50px;
    font-size: 24px;
    border-color: black;
    display: none;
    background-color:white;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Nunito';
  }
 
  .content {
    opacity:0.9!important;
    background-color: black!important;
    margin:20px
    ;
  }
  .bg{
    background-color: black!important;
  }

  .search{
   background-color: black;
  }
  .latest{
    border-color: black;
 background-color: black;
   color: white; 
   background-image: url("ani.jpg");
  }
  .bgc{
    background-color: black;
  }

  .comment{
    color: white;
     background-color: black;

  }
  .com{
    background-color: black;
  }
 .last{
  background-image: url("blac.jpg" );
  
}

.link{
  color: #736B92;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 10px 40px;
  text-transform: uppercase;
  

}
.foot{
  border-color: black;
}


